.video-container {
    display: inline-block;
    width: 45%;
    margin: 20px;
}

h2 {
    text-align: center;
}

.video-container img {
    width: 100%;
    height: auto;
}

.button-container {
    margin: 20px;
    text-align: center;
}

button {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #337ab7;
    color: #fff;
}

button:hover {
    background-color: #23527c;
    cursor: pointer;
}